<div class="container text-center">
    <h1>IT TALENTS TRAINING CAMP</h1>
    <h2>SEASON 5 FINAL PROJECT</h2>
    <h3 class="text-custom2">JS WEB DEVELOPMENT - Yordan Betsinski</h3>
    <h3 class="text-custom2">PHP WEB DEVELOPMENT - Petar Dimanov</h3>
    <dl>
        <dt class="text-custom1">Front-End</dt>
        <dd>jQuery</dd>
        <dd>Bootstrap</dd>
        <dd>AngularJS</dd>
        <dd>Angular Route</dd>
        <dd>Angular Cookies</dd>
        <dd>Angular Animate</dd>
        <dd>Phaser</dd>
        <dd>Tiled</dd>
        <dt class="text-custom1">Back-End</dt>
    </dl>
</div>