<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div class="col-md-6">
            <img id="avatar" ng-src="{{user.avatar}}" alt="logo" class="center-block img-thumbnail">
            <form name="uploadForm" role="form" novalidate onsubmit="return false;">
                <div class="margin-top center-block">
                    <button class="btn btn-default center-block" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                         ngf-accept="'image/x-png, image/bmp, image/jpeg'" ngf-max-size="1MB">
                        <span class="glyphicon glyphicon-file"></span>
                    </button>
                    <button class="btn btn-custom1 center-block" ng-click="upload(file)">upload</button>
                </div>
                <div>{{file.name}}</div>
                <div>{{error}}</div>
            </form>

        </div>
        <div class="col-md-6 text-center">
            <div ng-repeat="(key, val) in user" ng-if="key=='username' || key=='email'">
                <span>{{key}}: </span>
                <span>{{val}}</span>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <h3>Hero</h3>
            <div id="createHero" ng-hide="user.name">
                <form  class="form-inline" name="form" role="form" novalidate onsubmit="return false;">
                    <div class="form-group">
                        <input required type="text" placeholder="name" class="form-control" ng-model="create.name">
                    </div>
                    <select class="form-control" id="sel1" ng-model="create.gender">
                        <option selected value="" class="hidden">gender</option>
                        <option>male</option>
                        <option>female</option>
                    </select>
                    <div class="form-group">
                        <button class="btn btn-custom1" ng-click="createHero(create)">create</button>
                    </div>
                </form>
            </div>
            <div id="deleteHero" ng-show="user.name">
                <button type="button" class="btn btn-danger" ng-click="deleteHero()">delete hero</button>
            </div>
            <div ng-repeat="(key, val) in user" ng-if="user.name && key!='username' && key!='email'">
                <span>{{key}}: </span>
                <span>{{val}}</span>
            </div>
        </div>

    </div>
</div>