<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div class="dropdown col-md-6 col-md-offset-3">
            <button class="btn btn-custom1 dropdown-toggle btn-block" type="button" data-toggle="dropdown">Item type
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu btn-block">
                <li class="text-center"><a ng-click="shopType('armor')">armor</a></li>
                <li class="text-center"><a ng-click="shopType('head')">head</a></li>
                <li class="text-center"><a ng-click="shopType('weapon')">weapon</a></li>
                <li class="text-center"><a ng-click="shopType('gloves')">gloves</a></li>
                <li class="text-center"><a ng-click="shopType('boots')">boots</a></li>
            </ul>
        </div>
        <br>
        <br>
        <div class="panel panel-default panel-custom1" ng-repeat="item in shop">
            <div class="panel-heading">
                {{item.name}}
            </div>
            <div class="panel-body">
                <div class="col-md-8">
                    <div ng-repeat="(key, val) in item" ng-if="key != 'name' && key != 'pic' && key != 'id'">
                        <span>{{key.replace('_', ' ')}}: </span>
                        <span>{{val}}<span class="glyphicon glyphicon-euro" ng-if="key == 'price'"></span></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="{{item.pic}}" alt="item icon" class="img-responsive img-thumbnail">
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary">Buy</button>
            </div>
        </div>
    </div>
</div>