/*
custom classes
*/
body {
  font-family: Calibri;
  font-size: 20px;
  background: url("../images/bg.png") repeat;
  color: ghostwhite !important;
  padding: 40px 0 40px 0; }
  body #main {
    padding: 0; }
  body input:focus, body button:focus {
    outline: none !important;
    border-color: #563d7c !important;
    box-shadow: 0 0 5px #563d7c !important; }

@font-face {
  font-family: AllerDisplay;
  src: url(../fonts/AllerDisplay.ttf); }
@font-face {
  font-family: AllerRegular;
  src: url(../fonts/Aller_Rg.ttf); }
@font-face {
  font-family: BPmono;
  src: url(../fonts/BPmono.ttf); }
#navbar {
  border-radius: 0;
  margin: 0;
  background: #563d7c;
  border: 0;
  border-bottom: 5px solid #67528e;
  font-size: 0.8em;
  text-transform: uppercase; }
  #navbar #mainToggle > span {
    background-color: #67528e; }
  #navbar #bs-example-navbar-collapse-1 {
    border-color: #67528e; }
  #navbar .navbar-collapse.collapse.in, #navbar .navbar-collapse.collapsing {
    border-color: #67528e; }
  #navbar a:hover {
    background: #67528e; }
  #navbar .dropdown:active {
    background: #67528e; }
  #navbar .dropdown .dropdown-menu {
    background: #563d7c;
    border-color: #67528e; }
    #navbar .dropdown .dropdown-menu .divider {
      background: #67528e; }
  #navbar .dropdown.open > a {
    background: #67528e; }

#mainContent {
  padding-top: 55px;
  min-height: 600px; }
  #mainContent #logo {
    pointer-events: none; }
  #mainContent canvas {
    margin: 0 auto; }

#footer {
  height: 40px;
  background: #563d7c;
  /*position: absolute;
  bottom: 0;*/
  width: 100%;
  /*opacity: 0.7;*/ }
  #footer > div {
    height: 100%; }
    #footer > div > p {
      height: 100%;
      margin-bottom: 0;
      line-height: 40px; }

.custom-nav-link {
  color: ghostwhite !important; }

.custom-link {
  color: ghostwhite !important;
  text-decoration: underline; }

.logo {
  font-size: 20px;
  font-family: AllerDisplay; }

.content-div {
  /*min-height: 800px;*/
  margin-top: 50px; }

.btn-custom1 {
  background-color: #67528e;
  /*border-radius: 0;*/ }
  .btn-custom1:hover {
    background-color: #563d7c;
    color: ghostwhite; }
  .btn-custom1:focus {
    color: ghostwhite; }

.btn-facebook {
  background-color: #334e85; }
  .btn-facebook:hover {
    background-color: #273f98;
    color: ghostwhite; }
  .btn-facebook:focus {
    color: ghostwhite; }

.panel-default {
  color: black; }

.custom-error {
  color: #752420 !important; }
  .custom-error label, .custom-error span {
    color: #752420 !important; }
  .custom-error input {
    outline-color: #752420 !important; }

.panel-custom1 {
  border-color: #67528e;
  padding: 0;
  background: rgba(248, 248, 255, 0.8); }
  .panel-custom1 .panel-heading, .panel-custom1 .panel-footer {
    background: #67528e;
    color: ghostwhite; }
  .panel-custom1 .panel-body {
    border-radius: 3px; }
    .panel-custom1 .panel-body label {
      color: #67528e; }

.text-custom1 {
  color: #563d7c; }

.text-custom2 {
  color: #67528e; }

.view-slide-in.ng-enter {
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  opacity: 0.1;
  position: relative;
  opacity: 0; }

.view-slide-in.ng-enter {
  opacity: 0; }

.view-slide-in.ng-enter.ng-enter-active {
  opacity: 1; }

.view-slide-in.ng-leave.ng-leave-active {
  opacity: 1; }

.view-slide-in.ng-leave {
  opacity: 0; }

/*# sourceMappingURL=index.css.map */
