body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  background: url("../images/bg.png") repeat;
  color: ghostwhite !important;
  padding: 40px 0 40px 0;

  #main {
    padding: 0;
  }

  input:focus {
    outline: none !important;
    border-color: $navbar-background !important;
    box-shadow: 0 0 5px $navbar-background !important;
  }
}

@font-face {
  font-family: AllerDisplay;
  src: url(../fonts/AllerDisplay.ttf);
}

@font-face {
  font-family: AllerRegular;
  src: url(../fonts/Aller_Rg.ttf);
}

@font-face {
  font-family: BPmono;
  src: url(../fonts/BPmono.ttf);
}

