.custom-nav-link {
  color: $nav-links-color !important;
}

.custom-link {
  color: $nav-links-color !important;
  text-decoration: underline;
}

.logo {
  font-size: $logo-font-size;
  font-family: $logo-font-family;
}

.content-div {
  /*min-height: 800px;*/
  margin-top: 50px;
}

.btn-custom1 {
  background-color: $navbar-border-color;
  /*border-radius: 0;*/

  &:hover {
    background-color: $navbar-background;
    color: ghostwhite;
  }

  &:focus {
    color: ghostwhite;
  }
}

.btn-facebook {
  background-color: $btn-facebook-background;

  &:hover {
    background-color: $btn-facebook-hover-background;
    color: ghostwhite;
  }

  &:focus {
    color: ghostwhite;
  }
}

.panel-default {
  color: black;
}

.custom-error {
  color: #752420 !important;

  label, span {
    color: #752420 !important;
  }

  input {
    outline-color: #752420 !important;
  }
}

.panel-custom1 {
  border-color: $navbar-border-color;
  padding: 0;
  background: rgba(248, 248, 255, 0.8);


  .panel-heading, .panel-footer {
    background: $navbar-border-color;
    color: ghostwhite;
  }
  .panel-body {

    border-radius: 3px;

    label {
      color: $navbar-border-color;
    }
  }
}

.text-custom1 {
  color: $navbar-background;
}

.text-custom2 {
  color: $navbar-border-color;
}

.view-slide-in.ng-enter {
  transition: all 1.5s ease;
  -webkit-transition:all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;

  opacity:0.1;
  position:relative;
  opacity:0;
}

.view-slide-in.ng-enter {
  opacity: 0;
}
.view-slide-in.ng-enter.ng-enter-active {
  opacity: 1;
}
.view-slide-in.ng-leave.ng-leave-active{
  opacity:1;
}
.view-slide-in.ng-leave{
  opacity:0;
}