.custom-nav-link {
  color: $nav-links-color !important;
}

.custom-link {
  color: $nav-links-color !important;
  text-decoration: underline;
}

.logo {
  font-size: $logo-font-size;
  font-family: $logo-font-family;
}

.content-div {
  /*min-height: 800px;*/
  margin-top: 50px;
}

.btn-custom1 {
  background-color: $navbar-border-color;
  /*border-radius: 0;*/

  &:hover {
    background-color: $navbar-background;
    color: ghostwhite;
  }

  &:focus {
    color: ghostwhite;
  }
}

.btn-facebook {
  background-color: $btn-facebook-background;

  &:hover {
    background-color: $btn-facebook-hover-background;
    color: ghostwhite;
  }

  &:focus {
    color: ghostwhite;
  }
}

.panel-default {
  color: black;
}

.custom-error {
  color: #752420 !important;

  label, span {
    color: #752420 !important;
  }

  input {
    outline-color: #752420 !important;
  }
}

.panel-custom1 {
  /*border-color: $navbar-background;*/


  .panel-heading, .panel-footer {
    /*background: #3c3e7f;*/
    /*color: ghostwhite;*/
  }
  .panel-body {
    /*background: ghostwhite;*/
  }
}