$body-font-family: Calibri;
$body-font-size: 20px;

$navbar-background: #563d7c;
$navbar-border-color: #67528e;
$navbar-border-bottom: 5px solid $navbar-border-color;
$navbar-font-size: 0.8em;

$main-content-min-height: 600px;
$main-content-background: #3B8686;

$footer-background: $navbar-background;

/*
custom classes
*/

$nav-links-color: ghostwhite;

$logo-font-size: 20px;
$logo-font-family: AllerDisplay;

$btn-facebook-background: #334e85;
$btn-facebook-hover-background: #273f98;