$body-font-family: BPmono;//AllerRegular;
$body-font-size: 18px;

$navbar-background: #61456a;
$navbar-border-color: #67546d;
$navbar-border-bottom: 5px solid $navbar-border-color;

$main-content-min-height: 600px;
$main-content-background: #3B8686;

$footer-background: #61456a;

/*
custom classes
*/

$nav-links-color: ghostwhite;

$logo-font-size: 20px;
$logo-font-family: AllerDisplay;

$btn-facebook-background: #334e85;
$btn-facebook-hover-background: #273f98;